* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Basic Sans';
  src: url('fonts/basic-sans/Web Fonts/basicsans_bold/basicsans-bold-webfont.woff') format('woff'),
       url('fonts/basic-sans/Web Fonts/basicsans_bold/Basic-Sans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f7f7f7;
}

.game-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  margin: 5vh 5vw;
  background: #f7f7f7;
  /* No width/height set here! */
}